. {
    margin:0px;
    padding:0px;
    /*border-left: 0px;*/
    /*margin-top:0px;*/
    display: inline-block;

}



.container {
  width: 75px;
  height: 75px;
  /*position: relative;*/
  perspective: 800px;

}

#card {
  width: 100%;
  height: 100%;
  /*position: absolute;*/
  transform-style: preserve-3d;
  transition: transform 1s;
}

#card img{
  margin: 0;

  /*display: block;*/
  position: absolute;
    /*position: fixed;*/
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

}

#card .front {
  background: none;
    position: absolute;
}
#card .back {
  transform: rotateY( 180deg );
    position: absolute;
}

#card.flipped {
  transform: rotateY( 180deg );
    position: absolute;
}


.r90{
    transform: rotate(90deg);
    /*position: absolute;*/

}
.r180{
    transform: rotate(180deg);
    /*position: absolute;*/
}
.r270{
    transform: rotate(270deg);
    /*position: absolute;*/
}
.r0{
    transform: rotate(0deg);
    /*position: absolute;*/
}

.r360{
    transform: rotate(0deg);
    /*position: absolute;*/
}

.cover{
    width: 75px;
    height: 75px;
    position: absolute;
    z-index: 100;
    display: block;
    border: solid 5px transparent;
}


.f_tile{
    position: static;
    /*margin: 0.5px;*/
    /*border: solid 5px black;*/
}

#tile {
    width: 75px;
    height: 75px;
    border: solid 5px transparent;
    /*opacity: 0.1;*/
    /*position: absolute;*/
}
.player{
    width:30px;
    height:40px;
    z-index: 101;
    position:absolute;

}

.playerT{
    width:30px;
    height:40px;
    z-index: 101;
    position:absolute;

}

#rows{
    display: inline-block;
    margin-left:-4.8px;
    /*margin:0;*/
    /*padding:0;*/
}

#field{
    text-align: center;
    padding-left: 0;
}

.inline {
    display: inline;


}
.inline1 {
    display: block;
    /*margin-left: 100px;*/
    text-align: center;
    /*width: 75%;*/
    padding-left: 0px;

}

.inline2 {
    display: inline-block;
    /*margin-left: 100px;*/
    text-align: right;
    /*width: 100%;*/

}

.header {
  background-color: #4575A4;
  /*border-bottom: 1px solid #466995;*/
  /*overflow-y: auto;*/
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
    font-size: xx-large;
    /*padding-top: 10px;*/
    /*padding-left: 10px;*/
    margin-left: 0px;
    margin-top: 0px;
    height:50px;

}

p{
    display: inline;
    padding: 0px  10px 0px  10px;
    margin: 0px 10px  0px 0px;
    /*background-color: #3adb76;*/
}

.login{

    font-size: large;
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
    position: absolute;
    display: inline-block;
    text-align: right;
    margin-left: 500px;
    right:10px;
}


body {
  background: url("images/oboi.png") repeat center;
  /*background: #65ff42;*/
  margin: 0;
  padding: 0;
  height: 50%;
    min-width: 1200px;
    /*max-width: 1200px;*/
}


#question_block {
  /*background: navajowhite;*/
  /*background-size: 20%;*/
  height: 50%;
  position: static;
  width: 100%;
  /*background-attachment: local;*/
  z-index: 1000;
    margin: 0px;
    padding-top: 10px;
}

#photo {
  /*background: url("images/work.png") no-repeat center;*/
  /*background-size: 10px;*/
  /*height: 100%;  */
    /*width: 50%;*/
    /*height: auto;*/
    /*width: auto;*/
    height: 400px;
    width: 600px;
    display: block;
  position: static;

  /*background-attachment: local;*/
  /*z-index: 10001;*/
    margin: 0 auto;
    text-align: center;

}

.buttons {
    color: #000;
    width: 95%;

    /*display: inline-flex;*/
    /*align-content: inherit;*/
    text-align: left;
    font-family: 'Abel', sans-serif;
    font-size: x-large;
    font-weight: bold;
    font-size-adjust: none;
    border: 4px double black;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px;
    /*padding-right: 50%;*/
    background-image: -webkit-linear-gradient(top, #E0EFFD 0%, #4575A4 100%);
    /*background-size: 10px;*/

}

.l_w_u {
    /*color: crimson;*/
    font-size: xx-large;
}

.choice {
    /*color: crimson;*/
    font-size: xx-large;
}

.login_button {
    /*position: absolute;*/
    text-align: right;
    font-family: 'Abel', sans-serif;
    font-size: xx-large;
    font-weight: bold;
    font-size-adjust: none;
    border: 4px double black;
    height: 50px;
    margin-left: auto;
    float:right;
    background-image: -webkit-linear-gradient(top, #E0EFFD 0%, #4575A4 100%);
    width:auto;


}

#main_page_buttons{
    display: inline-block;
    text-align: center;
    margin-left:40%;
    margin-right:40%;
    /*padding: 100px;*/


}

#main_page_button {
    font-family: 'Abel', sans-serif;
    font-size: xx-large;
    font-weight: bold;
    font-size-adjust: none;
    border: 4px double black;
    /*height:auto;*/
    width:auto;
    padding: 10px;
    margin: 10px;
    background-image: -webkit-linear-gradient(top, #E0EFFD 0%, #4575A4 100%);}

#event_log{
    padding: 10px;
    height: 100px;
    width:50%;
    text-align: left;
    margin-left:25%;
    margin-right:25%;
    margin-bottom: 10px;
    margin-top:10px;
        overflow-y: scroll;
    background:rgba(87,128,169,0.29) ;
    scrollTop: 9999;
}