{#<!DOCTYPE html>#}
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
{#<link rel="stylesheet" type="text/css" href="{% static 'polls/foundation.css' %}" />#}
{#<script src="{% static 'polls/app.js' %}"></script>#}
    <script src='../polls/static/polls/app.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/jquery.ui/1.11.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../polls/static/polls/csrf.js"></script>
{#    <script src="https://raw.githubusercontent.com/wilq32/jqueryrotate/master/jQueryRotate.js"></script>#}

<link rel="stylesheet" type="text/css" href="{% static 'polls/main.css' %}" />
</head>
<body>

<div class = "header">
<ul>
    {% if request.user.is_authenticated %}

        <form action="auth/logout">
{#        <p><img src ="{% static "polls/images/shortcuts/sh_health.png"%}"/>{{ request.user.profile.health }}({{request.user.profile.last_health}})</p>#}
{#        <p><img src ="{% static "polls/images/shortcuts/sh_work.png"%}"/>{{ request.user.profile.work }}({{request.user.profile.last_work}})</p>#}
{#        <p><img src ="{% static "polls/images/shortcuts/sh_d_honor.png"%}"/>{{ request.user.profile.d_honor }}({{request.user.profile.last_d_honor}})</p>#}
{#        <p><img src ="{% static "polls/images/shortcuts/sh_rb_honor.png"%}"/>{{ request.user.profile.rb_honor }}({{request.user.profile.last_rb_honor}})</p>#}
{#        <p><img src ="{% static "polls/images/shortcuts/sh_sm_honor.png"%}"/>{{ request.user.profile.sm_honor }}({{request.user.profile.last_sm_honor}})</p>#}
{#        <p><img src ="{% static "polls/images/shortcuts/sh_team_honor.png"%}"/>{{ request.user.profile.team_honor }}({{request.user.profile.last_team_honor}})</p>#}
{#        <p><img src ="{% static "polls/images/shortcuts/sh_tupik_honor.png"%}"/>{{ request.user.profile.tupik_honor }}({{request.user.profile.last_tupik_honor}})</p>#}
{#        <p><img src ="{% static "polls/images/shortcuts/sh_money.png"%}"/> {{ request.user.profile.money }}({{request.user.profile.last_money}})</p>#}
{#        <p><img src ="{% static "polls/images/shortcuts/sh_day.png"%}"/> {{ request.user.profile.day }}</p>#}
{#        <form action="auth/logout">#}
            <button class = login_button type="submit">Выйти({{ request.user.username }})</button>
        </form>
{#        <li class = "login"><a href="auth/logout">Выйти({{ request.user.username }})</a></li>#}

    {% else %}
{#        <li><a href="auth/login">Войти</a></li>#}
        <form action="auth/login">
        <button class = login_button  type="submit">Войти</button>
        </form>
    {% endif %}
</ul>
</div>


{% block content %}{% endblock %}
{% block login %}{% endblock %}
{% block main_page %}{% endblock %}
{% block settings %}{% endblock %}
</body>
</html>