{% extends 'main.html' %}
{% load staticfiles %}




    {% block content %}
        <script src="{% static 'polls/app.js' %}"></script>

        {% if request.user.is_authenticated  %}
{#            <p>{{   field_code }}</p>#}
<img  class="player" data-id = 'player1' src ="{% static "polls/images/misc/player1.jpg" %}"/>
            <div id="event_log">

            </div>
            <div id = field>
            <img  class="player" data-id = 'player2' src ="{% static "polls/images/misc/player2.jpg" %}"/>
{#            <p>{{ field_code }}</p>#}

            {% for i in field_code %}
                <div id="rows">

                {% for j in i %}
                        <div class="f_tile">
                    {% if j.faced == 1 %}
                    <img  id = "tile" draggable="false" class = 'r{{ j.rotate }}' data-id = "{{j.crd}}" title="{{j.crd}}" src ="{% static "polls/images/Field/" %}{{ j.name }}.jpg"/>
                        {% if j.crd == 'e12' %}
{##}
                        <img  class="playerT" src ="{% static "polls/images/misc/player1.jpg" %}"/>
{##}
                            {% endif %}
                    {% else %}


                        <img  id = "cover" draggable="false" class="cover" data-id = "{{j.crd}}" title="{{j.crd}}" src ="{% static "polls/images/Field/cover.jpg" %}"/>
                        <img  id = "tile" draggable="false" class = 'r{{ j.rotate }}' data-id = "{{j.crd}}" title="{{j.crd}}" src ="{% static "polls/images/Field/" %}{{ j.name }}.jpg"/>


                    {% endif %}
                        </div>
                {% endfor %}
                </div>
            {% endfor %}
            </div>

        {% endif %}

    {% endblock content %}

{#</body>#}
